page-dashboard {

}

#dashbutton {
    background-color: #2898da;
}

#btn-icon {
    padding-right: .5em;
}

#btndiv {
    padding-top: 1em;
    text-align: center;
}

#allbtns {
    padding-top: 3em;
}