<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-mihomeplugin"
    version="1.0.0">
    <name>Cordova Plugin for MiHome</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/johnosullivan/MiHome</repo>
    <issue>https://github.com/johnosullivan/MiHome</issue>

    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <clobbers target="MiHomePlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="MiHomePlugin">
          <param name="android-package" value="com.example.MiHomePlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <source-file src="src/android/com/example/MiHomePlugin.java" target-dir="src/com/example/" />
    </platform>

    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="MiHomePlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MiHomePlugin">
                <param name="ios-package" value="MiHomePlugin" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/MiHomePlugin.h" />
        <source-file src="src/ios/MiHomePlugin.m" />
    </platform>

</plugin>
