<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="menutheme">
      <ion-title>Mi Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!--list the pages in side bar-->
  <!--  <div *ngIf="!authServiceProvider.isLogin"> I currently have no login
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon item-left name={{p.icon}}></ion-icon> {{p.title}}
        </button>
      </ion-list>
   </div> -->
<!--    <div *ngIf="authServiceProvider.isLogin"> -->
<div>
      <ion-list>
      <button menuClose ion-item *ngFor="let p of authpages" (click)="openPage(p)">
        <ion-icon item-left name={{p.icon}}></ion-icon> {{p.title}}
      </button>
      </ion-list>
    </div>
</ion-content>

  </ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
